@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
:root{
  --backgroundColor : #282c34;
  --textBackground : #161a23;
  --themecolor : #f85149;
  --secondarythemecolor : #61dafb;
  --buttoncolor : #30a14e;
  --themelight : #fff;
  --cardcolor :#0D1117;
  font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
}
.navbarLink,
.Link{
  font-family: 'Lora',serif;
  font-size: 18px;
  font-weight: 500;
}
.title{
  font-family: 'Lora',serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;

}

.homeCard{
height: 40vh;
border-radius: 5px;
}

.userInfo h6{
  font-family: 'Lora',serif;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;

}
.homeCard .img{
  height: 55%;
}


/* -------------------------------Dashboard Css Starts ------------------------*/
.heading{
  text-align:center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(56,2,155,0), rgba(255,255,255), rgba(56,2,155,0));
  border-image-slice: 1;
  width:100%;
  color:var(--themelight)
}
.header button{
  background: none;
  border : none
}
.blog{
  width: 370px;
  color:var(--themelight);
  text-align:center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(56,2,155,0), rgba(255,255,255), rgba(56,2,155,0));
  border-image-slice: 1;
  width:100%;
}
.blog Card{
  height: 300px;
}
.stats,
.profile{
  height: 20vh;
  color:var(--themelight)
}
.profile{
  height: 30vh;
}
.profile button{
  background: none;
  border: none;
}
.blog img{
  width: 100%;
}

.blogImage{
  max-width: 750px;
  max-height: 750px;
}
Navbar{
  background-color: var(--backgroundColor);
}
/* -------------------------------Dashboard Css Ends---------------------------*/
/* -------------------------------Home Css Starts---------------------------*/.
.button{
  background-color: rgba(255, 255, 255, 0.29) ;
}
.filters{
  background-color: rgba(255, 255, 255, 0.104) ;
}

.Home{
  background-color: var(--backgroundColor);
}
.card{
  background-color: var(--cardcolor);  
  color: var(--themelight);
  border-radius: 5 !important;
}
.card Link{
  font-size: 16px;
  color: var(--themecolor);
}
.author img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
/* -------------------------------Home Css Ends---------------------------*/
/* -------------------------------Auth Css Starts---------------------------*/
.Signup{
  background: var(--textBackground);
  max-width: 60vw;
}

.Card{
 color: var(--themelight)
}
.Card button{
    background-color: var(--buttoncolor);
}
.Card button:hover{
    background-color:  var(--buttoncolor);
}
.Image img{
    min-width: 200px;
    min-height: 200px;
    max-height: 400px;
    max-width: 400px;
}

.Link{ 
 text-decoration: none;
 color: var(--themelight);
}

/* -------------------------------Auth Css Ends---------------------------*/
/* -------------------------------Add Blog Css starts---------------------------*/
.addblog{
  height: 80vh;
  background-color: var(--backgroundColor);
}
.textarea{
  height: 30vh;
}
.categories{
height: 16vh;
}
.category{
  margin-top: auto;
  color: #000;
  padding: 5px 5px;
  border: 1px solid var(--secondarythemecolor);
  background-color: var(--textBackground);
}
.category button{
  border: none;
  background: none;
}

/* -------------------------------Add Blog Css Ends---------------------------*/
/* -------------------------------User Profile Starts-------------------------*/
.user{
  max-width: 35vw;
  height: 48vh;
  background-color: var(--backgroundColor);
  color: var(--themelight);
}
@media screen and (max-width: 700px){
  .user{
    max-width: 56vw !important;
  }
}
.personalDetails img
{
 width: 160px;
 height: 160px;
}
.image img{
  width: 120px;
  height: 120px;
}
.Blogs{
  display: flex;
  justify-content: center;
}
.blog{
  max-width: 65vw;

}
/* -------------------------------User Profile Ends---------------------------*/